<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.talentpool.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.talentpool.po.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="musername" property="musername" jdbcType="VARCHAR" />
    <result column="mlink" property="mlink" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="mworkplace" property="mworkplace" jdbcType="VARCHAR" />
    <result column="mtel" property="mtel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, musername, mlink, mname, mworkplace, mtel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.talentpool.po.MemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.talentpool.po.MemberExample" >
    delete from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.talentpool.po.Member" >
    insert into member (id, musername, mlink, 
      mname, mworkplace, mtel
      )
    values (#{id,jdbcType=INTEGER}, #{musername,jdbcType=VARCHAR}, #{mlink,jdbcType=VARCHAR}, 
      #{mname,jdbcType=VARCHAR}, #{mworkplace,jdbcType=VARCHAR}, #{mtel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentpool.po.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="musername != null" >
        musername,
      </if>
      <if test="mlink != null" >
        mlink,
      </if>
      <if test="mname != null" >
        mname,
      </if>
      <if test="mworkplace != null" >
        mworkplace,
      </if>
      <if test="mtel != null" >
        mtel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="musername != null" >
        #{musername,jdbcType=VARCHAR},
      </if>
      <if test="mlink != null" >
        #{mlink,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mworkplace != null" >
        #{mworkplace,jdbcType=VARCHAR},
      </if>
      <if test="mtel != null" >
        #{mtel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.talentpool.po.MemberExample" resultType="java.lang.Integer" >
    select count(*) from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.musername != null" >
        musername = #{record.musername,jdbcType=VARCHAR},
      </if>
      <if test="record.mlink != null" >
        mlink = #{record.mlink,jdbcType=VARCHAR},
      </if>
      <if test="record.mname != null" >
        mname = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.mworkplace != null" >
        mworkplace = #{record.mworkplace,jdbcType=VARCHAR},
      </if>
      <if test="record.mtel != null" >
        mtel = #{record.mtel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member
    set id = #{record.id,jdbcType=INTEGER},
      musername = #{record.musername,jdbcType=VARCHAR},
      mlink = #{record.mlink,jdbcType=VARCHAR},
      mname = #{record.mname,jdbcType=VARCHAR},
      mworkplace = #{record.mworkplace,jdbcType=VARCHAR},
      mtel = #{record.mtel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentpool.po.Member" >
    update member
    <set >
      <if test="musername != null" >
        musername = #{musername,jdbcType=VARCHAR},
      </if>
      <if test="mlink != null" >
        mlink = #{mlink,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mworkplace != null" >
        mworkplace = #{mworkplace,jdbcType=VARCHAR},
      </if>
      <if test="mtel != null" >
        mtel = #{mtel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentpool.po.Member" >
    update member
    set musername = #{musername,jdbcType=VARCHAR},
      mlink = #{mlink,jdbcType=VARCHAR},
      mname = #{mname,jdbcType=VARCHAR},
      mworkplace = #{mworkplace,jdbcType=VARCHAR},
      mtel = #{mtel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>