<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.talentpool.dao.PexperienceMapper" >
  <resultMap id="BaseResultMap" type="com.talentpool.po.Pexperience" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pusername" property="pusername" jdbcType="VARCHAR" />
    <result column="ptime" property="ptime" jdbcType="VARCHAR" />
    <result column="pplace" property="pplace" jdbcType="VARCHAR" />
    <result column="pcontent" property="pcontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pusername, ptime, pplace, pcontent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.talentpool.po.PexperienceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pexperience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pexperience
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pexperience
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.talentpool.po.PexperienceExample" >
    delete from pexperience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.talentpool.po.Pexperience" >
    insert into pexperience (id, pusername, ptime, 
      pplace, pcontent)
    values (#{id,jdbcType=INTEGER}, #{pusername,jdbcType=VARCHAR}, #{ptime,jdbcType=VARCHAR}, 
      #{pplace,jdbcType=VARCHAR}, #{pcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.talentpool.po.Pexperience" >
    insert into pexperience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pusername != null" >
        pusername,
      </if>
      <if test="ptime != null" >
        ptime,
      </if>
      <if test="pplace != null" >
        pplace,
      </if>
      <if test="pcontent != null" >
        pcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pusername != null" >
        #{pusername,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        #{ptime,jdbcType=VARCHAR},
      </if>
      <if test="pplace != null" >
        #{pplace,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null" >
        #{pcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.talentpool.po.PexperienceExample" resultType="java.lang.Integer" >
    select count(*) from pexperience
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pexperience
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pusername != null" >
        pusername = #{record.pusername,jdbcType=VARCHAR},
      </if>
      <if test="record.ptime != null" >
        ptime = #{record.ptime,jdbcType=VARCHAR},
      </if>
      <if test="record.pplace != null" >
        pplace = #{record.pplace,jdbcType=VARCHAR},
      </if>
      <if test="record.pcontent != null" >
        pcontent = #{record.pcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pexperience
    set id = #{record.id,jdbcType=INTEGER},
      pusername = #{record.pusername,jdbcType=VARCHAR},
      ptime = #{record.ptime,jdbcType=VARCHAR},
      pplace = #{record.pplace,jdbcType=VARCHAR},
      pcontent = #{record.pcontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentpool.po.Pexperience" >
    update pexperience
    <set >
      <if test="pusername != null" >
        pusername = #{pusername,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        ptime = #{ptime,jdbcType=VARCHAR},
      </if>
      <if test="pplace != null" >
        pplace = #{pplace,jdbcType=VARCHAR},
      </if>
      <if test="pcontent != null" >
        pcontent = #{pcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentpool.po.Pexperience" >
    update pexperience
    set pusername = #{pusername,jdbcType=VARCHAR},
      ptime = #{ptime,jdbcType=VARCHAR},
      pplace = #{pplace,jdbcType=VARCHAR},
      pcontent = #{pcontent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>