<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.talentpool.dao.QualificationMapper" >
  <resultMap id="BaseResultMap" type="com.talentpool.po.Qualification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qusername" property="qusername" jdbcType="VARCHAR" />
    <result column="qname" property="qname" jdbcType="VARCHAR" />
    <result column="qplace" property="qplace" jdbcType="VARCHAR" />
    <result column="qtime" property="qtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, qusername, qname, qplace, qtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.talentpool.po.QualificationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qualification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qualification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qualification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.talentpool.po.QualificationExample" >
    delete from qualification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.talentpool.po.Qualification" >
    insert into qualification (id, qusername, qname, 
      qplace, qtime)
    values (#{id,jdbcType=INTEGER}, #{qusername,jdbcType=VARCHAR}, #{qname,jdbcType=VARCHAR}, 
      #{qplace,jdbcType=VARCHAR}, #{qtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.talentpool.po.Qualification" >
    insert into qualification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qusername != null" >
        qusername,
      </if>
      <if test="qname != null" >
        qname,
      </if>
      <if test="qplace != null" >
        qplace,
      </if>
      <if test="qtime != null" >
        qtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qusername != null" >
        #{qusername,jdbcType=VARCHAR},
      </if>
      <if test="qname != null" >
        #{qname,jdbcType=VARCHAR},
      </if>
      <if test="qplace != null" >
        #{qplace,jdbcType=VARCHAR},
      </if>
      <if test="qtime != null" >
        #{qtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.talentpool.po.QualificationExample" resultType="java.lang.Integer" >
    select count(*) from qualification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update qualification
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qusername != null" >
        qusername = #{record.qusername,jdbcType=VARCHAR},
      </if>
      <if test="record.qname != null" >
        qname = #{record.qname,jdbcType=VARCHAR},
      </if>
      <if test="record.qplace != null" >
        qplace = #{record.qplace,jdbcType=VARCHAR},
      </if>
      <if test="record.qtime != null" >
        qtime = #{record.qtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update qualification
    set id = #{record.id,jdbcType=INTEGER},
      qusername = #{record.qusername,jdbcType=VARCHAR},
      qname = #{record.qname,jdbcType=VARCHAR},
      qplace = #{record.qplace,jdbcType=VARCHAR},
      qtime = #{record.qtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentpool.po.Qualification" >
    update qualification
    <set >
      <if test="qusername != null" >
        qusername = #{qusername,jdbcType=VARCHAR},
      </if>
      <if test="qname != null" >
        qname = #{qname,jdbcType=VARCHAR},
      </if>
      <if test="qplace != null" >
        qplace = #{qplace,jdbcType=VARCHAR},
      </if>
      <if test="qtime != null" >
        qtime = #{qtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentpool.po.Qualification" >
    update qualification
    set qusername = #{qusername,jdbcType=VARCHAR},
      qname = #{qname,jdbcType=VARCHAR},
      qplace = #{qplace,jdbcType=VARCHAR},
      qtime = #{qtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>